<section class="about-us">
  <div class="container">
    <h2 class="about-us__title title">О нас</h2>

    <div class="about-us__content">
      <div class="about-us__item">
        <div class="about-us__description">
          <img
            src="../img/about-us/about-1.jpg"
            alt="Image-1"
            class="about-us__image"
          />
          <p class="about-us__text">
            Мы&nbsp;используем передовые технологии для автоматизации процессов
            управления и&nbsp;контроля над ростом растений.
          </p>
        </div>
      </div>
      <div class="about-us__item_central">
        <div class="about-us__description">
          <p class="about-us__text">
            Оптимизируем рост растений, регулируя спектр света
            в&nbsp;зависимости от&nbsp;их&nbsp;фазы развития. Этот подход
            существенно увеличит урожайность.
          </p>
          <img
            src="../img/about-us/about-2.jpg"
            alt="Image-2"
            class="about-us__image"
          />
        </div>
      </div>
      <div class="about-us__item">
        <div class="about-us__description">
          <img
            src="../img/about-us/about-3.jpg"
            alt="Image-3"
            class="about-us__image"
          />
          <p class="about-us__text">
            Наши решения направлены на&nbsp;снижение энергопотребления
            и&nbsp;повышение эффективности производства..
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
