<section class="benefits">
  <div class="container">
    <h2 class="benefits__title title">Преимущества</h2>

    <div class="benefits__content">
      <div class="benefits__left">
        <div class="benefits__item">
          <img
            src="../img/benefits/benefits-left.jpg"
            alt="Left Image"
            class="benefits__image"
          />
          <div class="benefits__item-block">
            <h3>Высокая производительность</h3>
            <p class="benefits__description">
              Наши фермы обеспечивают высокий уровень урожайности благодаря
              оптимальным условиям выращивания.
            </p>
          </div>
        </div>

        <div class="benefits__item">
          <img
            src="../img/benefits/benefits-left.jpg"
            alt="Left Image"
            class="benefits__image"
          />
          <div class="benefits__item-block">
            <h3>Экологическая устойчивость</h3>
            <p class="benefits__description">
              Наши фермы разрабатываются с&nbsp;учетом принципов устойчивого
              развития, что обеспечивает экологически чистый продукт.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="benefits__central">
        <div class="central__image-container">
          <img
            src="../img/benefits/benefits-central.jpg"
            alt="Central Image"
            class="benefits__central-image"
          />
        </div>
      </div> -->

      <div class="benefits__right">
        <div class="benefits__item">
          <div class="benefits__item-block">
            <h3>Разнообразие культур</h3>
            <p class="benefits__description">
              Выращиваем различные виды трав, салатов, зелени и&nbsp;ягод, чтобы
              удовлетворить разнообразные потребности вашего рынка.
            </p>
          </div>
          <img
            src="../img/benefits/benefits-right.jpg"
            alt="Right Image"
            class="benefits__image"
          />
        </div>

        <div class="benefits__item">
          <div class="benefits__item-block">
            <h3>Пространственная эффективность</h3>
            <p class="benefits__description">
              Мы&nbsp;помогаем оптимизировать использование вашего пространства,
              предлагая эффективные решения для выращивания.
            </p>
          </div>
          <img
            src="../img/benefits/benefits-right.jpg"
            alt="Right Image"
            class="benefits-image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
