<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__body">
      <div class="contacts__basic">
        <div class="contacts__paragraf">
          <p class="contacts__text-grey">
            Готовы улучшить свой бизнес с помощью промышленных вертикальных
            ферм? Свяжитесь с FERMABOX уже сегодня, чтобы обсудить ваши
            потребности и создать индивидуальное решение для вашего предприятия.
            Давайте вместе строить будущее устойчивого и высокопроизводительного
            сельского хозяйства!
          </p>
        </div>
        <div class="contacts__info">
          <div class="contacts__info-shedule">
            <p class="contacts__text-grey">График работы:</p>
            <p class="contacts__text-black">Пн-Пт: с 09:00 до 18:00</p>
            <p class="contacts__text-black">Сб-Вс: выходные</p>
          </div>
          <div class="contacts__info-phone">
            <p class="contacts__text-grey">Телефон:</p>
            <p class="contacts__text-black">+1 800 100 900</p>
          </div>
        </div>
        <div id="map" class="contacts__map"></div>
      </div>
    </div>
  </div>
</section>
