<footer class="footer">
  <div class="container">
    <footer class="footer footer--position">
      <div class="container footer__container">
        <nav class="footer__nav">
          <a href="index.html" class="logo">
            <img src="img/svg/logo.svg" alt="FermaBox" />
          </a>

          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a class="nav__link" href="index.html">О нас</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="weproduced.html">Мы производим</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="calculator.html">Калькулятор</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="portfolio.html">Портфолио</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="contacts.html">Контакты</a>
            </li>
          </ul>

          <div class="nav__phone-number">
            <p>+7 (926) 800-10-90</p>
          </div>
        </nav>
      </div>
    </footer>
  </div>
</footer>
