<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__title">
        <p class="hero__title-text">Добро Пожаловать</p>
      </div>
      <h1 class="hero__main-heading">Fermabox</h1>
      <p class="hero__description">
        Ваш партнер в&nbsp;индустрии промышленного выращивания зелени
        и&nbsp;ягод. Мы&nbsp;предоставляем передовые технологии
        и&nbsp;инновационные решения для создания эффективных
        и&nbsp;высокопроизводительных вертикальных ферм.
      </p>
      <button class="btn-reset btn hero__btn" id="openFormButton">
        Оставить заявку
      </button>
    </div>
  </div>
</section>
