<section class="portfolio">
  <div class="container">
    <div class="portfolio__body">
      <h2 class="portfolio__title">Портфолио</h2>
      <div class="portfolio__item">
        <div class="portfolio__info">
          <h4 class="portfolio__info-title">Сити-фермерство</h4>
          <p class="portfolio__info-text">
            Установлена небольшая вертикальная ферма с гидропоникой, студенты
            выращивают микс салатов: рукколу и айсберг.
          </p>
        </div>
        <div class="portfolio__image">
          <img src="../img/portfolio-page/portfoilio1.jpg" alt="Image" />
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__image">
          <img src="../img/portfolio-page/portfolio2.jpg" alt="Image" />
        </div>
        <div class="portfolio__info">
          <h4 class="portfolio__info-title">Молодые профессионалы</h4>
          <p class="portfolio__info-text">
            Установлена еще одна вертикальная ферма, используемая студентами для
            изучения технологии выращивания салатов и участия в чемпионатах.
          </p>
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__info">
          <h4 class="portfolio__info-title">Ферма для сети ресторанов</h4>
          <p class="portfolio__info-text">
            Ферма площадью 100 кв.м полностью покрывает потребность в свежей
            зелени целой сети ресторанов.
          </p>
        </div>
        <div class="portfolio__image">
          <img src="../img/portfolio-page/portfolio3.jpg" alt="Image" />
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__image">
          <img src="../img/portfolio-page/portfolio4.jpg" alt="Image" />
        </div>
        <div class="portfolio__info">
          <h4 class="portfolio__info-title">Вертикальная ягодная ферма</h4>
          <p class="portfolio__info-text">
            Оснащена ферма по выращиванию свежей клубники в Якутии.
          </p>
        </div>
      </div>
      <div class="portfolio__item">
        <div class="portfolio__info">
          <h4 class="portfolio__info-title">Салатная ферма в мерзлоте</h4>
          <p class="portfolio__info-text">
            Установлена вертикальная ферма для выращивания салатов за Полярным
            кругом.
          </p>
        </div>
        <div class="portfolio__image">
          <img src="../img/portfolio-page/portfolio5.jpg" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</section>
