<section class="request">
  <div class="container">
    <h2 class="request__title title">Оставьте заявку</h2>

    <div class="request__content">
      <div class="request__info">
        <p class="request__info-title">Заполните форму</p>
        <h3 class="request__info-subtitle">Связаться с нами. Это просто.</h3>
        <p class="request__info-paragraph">
          Хотите увеличить урожайность и эффективность вашей агрофермы? Оставьте
          заявку прямо сейчас, и наши эксперты по аграрным технологиям свяжутся
          с вами.
        </p>

        <div class="request__info-contacts">
          <div class="request__info-field">
            <img
              class="request__info-icon"
              src="../img/reguest/phone.svg"
              alt="phone_icon"
            />
            <div class="request__info-text">
              <p class="request__info-text-first">Звоните сейчас:</p>
              <p class="request__info-text-second">+1 800 100 900</p>
            </div>
          </div>

          <div class="request__info-field">
            <img
              class="request__info-icon"
              src="../img/reguest/clock.svg"
              alt="phone_icon"
            />
            <div class="request__info-text">
              <p class="request__info-text-first">График работы:</p>
              <p class="request__info-text-second">9AM - 5PM</p>
            </div>
          </div>

          <div class="request__info-field">
            <img
              class="request__info-icon"
              src="../img/reguest/map.svg"
              alt="phone_icon"
            />
            <div class="request__info-text">
              <p class="request__info-text-first">Офис:</p>
              <p class="request__info-text-second">
                195 Devonshire St Boston, MA 02110
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="request__form">
        <form id="req-form" autocomplete="off">
          <div class="request__form-row">
            <div class="request__form-field">
              <label class="request__form-label" for="name">Ваше имя</label>
              <input
                type="text"
                id="name"
                placeholder="Пётр"
                class="request__form-input _req"
              />
            </div>

            <div class="request__form-field">
              <label class="request__form-label" for="email">Email</label>
              <input
                type="email"
                id="email"
                placeholder="consult@mail.com"
                class="request__form-input _req _email"
              />
            </div>
          </div>

          <div class="request__form-row">
            <div class="request__form-field">
              <label class="request__form-label" for="phone">Телефон</label>
              <input
                type="tel"
                id="phone"
                placeholder="+7(___) ___-__-__"
                class="request__form-input"
              />
            </div>

            <div class="request__form-field">
              <label class="request__form-label" for="city">Ваш город</label>
              <input
                type="text"
                id="city"
                placeholder="Город"
                class="request__form-input"
              />
            </div>
          </div>

          <div class="request__form-row">
            <div class="request__form-field">
              <label class="request__form-label" for="message">Сообщение</label>
              <textarea
                id="message"
                class="request__form-textarea"
                placeholder="Оставьте сообщение, и наши специалисты готовы предоставить вам необходимую консультацию."
              ></textarea>
            </div>
          </div>
          <div class="request__form-areabtn">
            <button class="btn-reset btn request__form-btn" type="submit">
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
