<section class="weproduced">
  <div class="container">
    <div class="tabs" data-tabs="prodtab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button id="salads" class="btn-reset tabs__nav-btn" type="button">
            Салаты
          </button>
        </li>
        <li class="tabs__nav-item">
          <button
            id="microgreens"
            class="btn-reset tabs__nav-btn"
            type="button"
          >
            Микрозелень
          </button>
        </li>
        <li class="tabs__nav-item">
          <button id="vegetables" class="btn-reset tabs__nav-btn" type="button">
            Овощи
          </button>
        </li>
        <li class="tabs__nav-item">
          <button id="berries" class="btn-reset tabs__nav-btn" type="button">
            Ягоды
          </button>
        </li>
        <li class="tabs__nav-item">
          <button id="mix" class="btn-reset tabs__nav-btn" type="button">
            Микс
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="salats__content">
            <div class="salats__hero">
              <div class="salats__img">
                <img src="../img/weproduced-page/salat-1.png" alt="Image" />
                <img src="../img/weproduced-page/salat-2.png" alt="Image" />
              </div>
              <div class="salats__descriptions">
                <p class="salats__hero-text prod__text">
                  Промышленные вертикальные фермы для салатов предлагают бизнесу
                  высокую рентабельность благодаря масштабируемости и
                  постоянному снабжению рынка. Экономия пространства и
                  оптимизированные производственные процессы увеличивают выход
                  продукции, а, следовательно, и доходность вашего бизнеса.
                </p>
                <br />

                <p class="salats__hero-text prod__text">
                  Промышленные фермы для салатов в вертикальных системах
                  становятся символом современного, устойчивого и
                  высокопроизводительного сельского хозяйства. Эти фермы
                  предоставляют возможность обеспечивать рынок свежими и
                  качественными салатами, подчеркивая важность интеграции
                  технологий и инноваций в сельское хозяйство для создания более
                  здорового и устойчивого будущего.
                </p>
                <div class="salats__button-block">
                  <a href="calculator.html"
                    ><button class="btn-reset salats__btn prod__btn btn">
                      Рассчитать ферму
                    </button></a
                  >
                </div>
              </div>
            </div>
            <h2 class="salats__title prod__title title">
              Преимущества <span class="prod__red">Fermabox</span>
            </h2>
            <div class="salats__adv">
              <div class="salats__adv-left">
                <div class="salats__adv-descr prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="salats__adv-text prod__text">
                    Системы вертикального выращивания позволяют создавать
                    многоярусные структуры, оптимизируя освещение и
                    распределение влаги.
                  </p>
                </div>
                <div class="salats__adv-descr prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="salats__adv-text prod__text">
                    Промышленные фермы обеспечивают круглогодичное производство
                    салатов, независимо от времени года. Это дает возможность
                    регулировать предложение на рынке.
                  </p>
                </div>
              </div>
              <div class="salats__adv-right">
                <div class="salats__adv-descr prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="salats__adv-text prod__text">
                    Применение гидропоники и других передовых технологий на
                    промышленных фермах обеспечивает точное дозирование
                    питательных веществ и воды.
                  </p>
                </div>
                <div class="salats__adv-descr prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="salats__adv-text prod__text">
                    Свежие салаты могут напрямую поступать в супермаркеты,
                    рестораны и кафе, сокращая время и расстояние от фермы до
                    потребителя.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="microgreens__content">
            <div class="microgreens__hero">
              <div class="microgreens__img">
                <img
                  src="../img/weproduced-page/microgreens-1.jpg"
                  alt="Image"
                />
                <img
                  src="../img/weproduced-page/microgreens-2.jpg"
                  alt="Image"
                />
              </div>
              <div class="microgreens__descr">
                <p class="microgreens__hero-text prod__text">
                  Выращивание микрозелени на вертикальных фермах не только
                  удовлетворяет востребованный рынок здорового питания, но и
                  обещает высокую рентабельность. Благодаря многоразовому урожаю
                  в течение года и минимизации затрат на транспорт, бизнес по
                  производству микрозелени на вертикальных фермах становится
                  выгодным и устойчивым.
                </p>
              </div>
              <div class="microgreens__button-block">
                <a href="calculator.html"
                  ><button class="btn-reset salats__btn prod__btn btn">
                    Рассчитать ферму
                  </button></a
                >
              </div>
            </div>
            <div class="microgreens__adv">
              <h2 class="microgreens__title prod__title title">
                Преимущества <span class="prod__red">Fermabox</span>
              </h2>
              <div class="microgreens__adv-wrapper">
                <div class="microgreens__adv-block">
                  <div class="microgreens__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="microgreens__adv-text prod__text">
                      Микрозелень требует минимального пространства для
                      выращивания, и вертикальные фермы идеально подходят для
                      максимальной оптимизации этого пространства.
                    </p>
                  </div>
                  <div class="microgreens__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="microgreens__adv-text prod__text">
                      Вертикальные фермы для микрозелени обеспечивают высокую
                      эффективность использования ресурсов за счет оптимальной
                      организации пространства.
                    </p>
                  </div>
                  <div class="microgreens__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="microgreens__adv-text prod__text">
                      Краткий цикл выращивания семени до урожая способствует
                      более быстрой ротации культур и, следовательно, более
                      быстрому возврату инвестиций.
                    </p>
                  </div>
                  <div class="microgreens__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="microgreens__adv-text prod__text">
                      Места сбыта в виде ресторанов, фермерских рынков и
                      интернет-продаж создают высокий спрос на микрозелень, а
                      компактные вертикальные системы позволяют создавать фермы
                      внутри города.
                    </p>
                  </div>
                </div>
                <div class="microgreens__adv-img">
                  <img src="../img/weproduced-page/microgreens-bg.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="vegetables__content">
            <div class="vegetables__hero">
              <div class="vegetables__img">
                <img
                  src="../img/weproduced-page/vegetables-hero.jpg"
                  alt="Image"
                />
              </div>
              <div class="vegetables__desc">
                <p class="vegetables__hero-text prod__text">
                  Бизнес по выращиванию овощей на вертикальных фермах обещает
                  высокую прибыльность за счет постоянного спроса на свежие и
                  экологически чистые овощи. Высокая производительность на
                  квадратный метр и возможность предоставления местному рынку
                  свежих овощей круглый год делают этот вид бизнеса выгодным и
                  стабильным.
                </p>
                <div class="vegetables__button-block">
                  <a href="calculator.html"
                    ><button class="btn-reset salats__btn prod__btn btn">
                      Рассчитать ферму
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="vegetables__adv">
              <h2 class="vegetables__title prod__title title">
                Преимущества <span class="prod__red">Fermabox</span>
              </h2>
              <div class="vegetables__adv-items">
                <div class="vegetables__adv-item">
                  <div class="vegetables__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="vegetables__adv-text prod__text">
                      Высокие стеллажи с системой многоярусного выращивания
                      позволяют выращивать овощи в вертикальном направлении, что
                      максимально экономит сельскохозяйственное пространство.
                    </p>
                  </div>
                  <div class="vegetables__adv-img1">
                    <img
                      src="../img/weproduced-page/vegetables-1.jpg"
                      alt="Image"
                    />
                  </div>
                </div>
                <div class="vegetables__adv-item">
                  <div class="vegetables__adv-img2">
                    <img
                      src="../img/weproduced-page/vegetables-2.jpg"
                      alt="Image"
                    />
                  </div>
                  <div class="vegetables__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="vegetables__adv-text prod__text">
                      Системы гидропоники, позволяют точно дозировать
                      необходимые питательные вещества, минимизируя потери и
                      предотвращая загрязнение окружающей среды.
                    </p>
                  </div>
                </div>
                <div class="vegetables__adv-item">
                  <div class="vegetables__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="vegetables__adv-text prod__text">
                      Фермы обеспечивают круглогодичное производство овощей. Это
                      позволяет устранить зависимость от сезонных колебаний и
                      обеспечивать стабильные поставки свежих овощей.
                    </p>
                  </div>
                  <div class="vegetables__adv-img3">
                    <img
                      src="../img/weproduced-page/vegetables-3.jpg"
                      alt="Image"
                    />
                  </div>
                </div>
                <div class="vegetables__adv-item">
                  <div class="vegetables__adv-img4">
                    <img
                      src="../img/weproduced-page/vegetables-4.jpg"
                      alt="Image"
                    />
                  </div>
                  <div class="vegetables__adv-descr prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="vegetables__adv-text prod__text">
                      Фермы легко интегрируются в городскую инфраструктуру. Они
                      могут быть размещены на крышах зданий, в контейнерах, что
                      сокращает транспортные затраты и уменьшает углеродный
                      след.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="berries__content">
            <div class="berries__hero">
              <div class="berries__img">
                <img
                  src="../img/weproduced-page/berries-hero.jpg"
                  alt="berries"
                />
              </div>
              <div class="berries__desc">
                <p class="berries__hero-text prod__text">
                  Бизнес по выращиванию ягод на вертикальных фермах — это не
                  только о предоставлении рынку свежих ягод круглый год, но и о
                  высокой прибыли. Оптимизированные системы управления ресурсами
                  и уменьшенные затраты на энергию снижают эксплуатационные
                  расходы, делая бизнес по выращиванию ягод выгодным и
                  конкурентоспособным. <br /><br />В мире вертикальных ферм, где
                  инновации диктуют новые стандарты сельского хозяйства, фермы
                  для выращивания ягод становятся заметным символом эффективного
                  и устойчивого производства ягодных культур.
                </p>
                <div class="berries__button-block">
                  <a href="calculator.html"
                    ><button class="btn-reset salats__btn prod__btn btn">
                      Рассчитать ферму
                    </button></a
                  >
                </div>
              </div>
            </div>
            <h2 class="berries__title prod__title title">
              Преимущества <span class="prod__red">Fermabox</span>
            </h2>
            <div class="berries__adv">
              <div class="berries__adv-img">
                <img
                  src="../img/weproduced-page/berries-adv.jpg"
                  alt="berries"
                />
              </div>
              <div class="berries__adv-items">
                <div class="berries__adv-item prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="berries__adv-text prod__text">
                    Фермы для выращивания ягод в вертикальной системе позволяют
                    максимально эффективно использовать ограниченное
                    сельскохозяйственное пространство.
                  </p>
                </div>
                <div class="berries__adv-item prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="berries__adv-text prod__text">
                    Системы гидропоники и аэропоники на фермах для ягод
                    обеспечивают точное дозирование питательных веществ, что
                    минимизирует потребление воды и удобрений.
                  </p>
                </div>
                <div class="berries__adv-item prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="berries__adv-text prod__text">
                    Независимо от сезонных изменений, фермы способны
                    обеспечивать стабильные и постоянные поставки свежих ягод,
                    что важно для рынков с высоким спросом на этот вид
                    продукции.
                  </p>
                </div>
                <div class="berries__adv-item prod__adv-block">
                  <img
                    src="../img/svg/done.svg"
                    alt="img-check"
                    class="prod__img-done"
                  />
                  <p class="berries__adv-text prod__text">
                    Отсутствие необходимости в применении пестицидов и
                    гербицидов улучшает экологическую чистоту ягод, а технологии
                    контроля обеспечивают безопасность для конечного
                    потребителя.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="mix__content">
            <div class="mix__hero">
              <div class="mix__hero-img">
                <img src="../img/weproduced-page/mix-hero.jpg" alt="mix" />
              </div>
              <div class="mix__hero-desc">
                <p class="mix__hero-text prod__text">
                  Бизнес по выращиванию микса схожих культур на вертикальных
                  фермах дает возможность предоставлять рынку разнообразные
                  продукты, что в свою очередь привлекает разнообразную
                  аудиторию. Эта стратегия позволяет диверсифицировать бизнес и
                  обеспечивать стабильные доходы от различных видов культур.
                </p>
                <div class="mix__button-block">
                  <a href="calculator.html"
                    ><button class="btn-reset salats__btn prod__btn btn">
                      Рассчитать ферму
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div class="mix__adv">
              <div class="mix__adv-section">
                <div class="mix__adv-items">
                  <div class="mix__adv-item1 prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="mix__adv-text prod__text">
                      Фермы для микса схожих культур позволяют эффективно
                      сочетать различные виды растений на одном участке. Этот
                      подход создает уникальные возможности для разнообразия
                      продукции.
                    </p>
                  </div>
                  <div class="mix__adv-item2 prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="mix__adv-text prod__text">
                      Применение гидропоники, аэропоники и других передовых
                      технологий на вертикальных фермах обеспечивает точное
                      дозирование воды и питательных веществ для каждой
                      культуры.
                    </p>
                  </div>
                </div>
                <div class="mix__adv-img">
                  <img src="../img/weproduced-page/mix-1.jpg" alt="mix" />
                </div>
              </div>
              <div class="mix__adv-section">
                <div class="mix__adv-img">
                  <img src="../img/weproduced-page/mix-2.jpg" alt="mix" />
                </div>
                <div class="mix__adv-items">
                  <div class="mix__adv-item1 prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="mix__adv-text prod__text">
                      Вертикальные фермы обеспечивают круглогодичное
                      производство микса схожих культур. Это позволяет
                      обеспечивать рынок разнообразными свежими продуктами вне
                      зависимости от сезона.
                    </p>
                  </div>
                  <div class="mix__adv-item2 prod__adv-block">
                    <img
                      src="../img/svg/done.svg"
                      alt="img-check"
                      class="prod__img-done"
                    />
                    <p class="mix__adv-text prod__text">
                      Вертикальные фермы для микса схожих культур позволяют
                      максимально оптимизировать производственные процессы
                      благодаря интенсивному использованию пространства.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mix__adv-bg">
              <img src="../img/weproduced-page/mix-bg.jpg" alt="mix" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
